.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 10px;
  text-align: left; 
 background: #136259;
  color: white;
  /*font-size: 30px;*/ 
  font-family:"Suez One";
}

.header.otherclass {
    font-size: 50px; 
}

.menu {
  padding:3% 0% 0% 0%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
/*    font-weight: 800;*/
  font-size: 20px;
  display: flex;
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  list-style-type: none;
  text-decoration: none;
   
}


.push {
    margin-left: auto;
}

/*.someclass {
  font-family:"Suez One";
}*/